<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a data-toggle="tab" href="#recent">Recent Videos</a></li>
      <li><a data-toggle="tab" href="#menu1">Timeline</a></li>
      <li><a data-toggle="tab" href="#menu2">Podcast</a></li>
    </ul>
    <div class="tab-content">
      <div id="recent" class="tab-pane fade in active">
        <app-RecentVideos></app-RecentVideos>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="menu2" class="tab-pane fade">
        <app-PodcastList></app-PodcastList>
      </div>
    </div>
  </div>
</div>